header {
    background-color: #f9f9f9;
    color: #f9f9f9;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid;
    border: 1px solid #c0392b;
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

header .navigation {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

a {
    color: #c0392b;
}

.login-container {
    background-color: #f9f9f9;
    color: #f9f9f9;
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 22%;
}

.login-form {
    gap: 20px;
    align-self: center;
    margin-bottom: 15px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.login-form select {
    padding: 8px;
    gap: 20px;
    border-radius: 5px;
    border: 1px solid #c0392b;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    cursor: pointer;
    margin: 20px;
    align-items: center;

}

.login-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 10px;

}

.user-avatar {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    object-fit: contain;
    margin-left: auto;
    position: absolute;
    top: 15px;
    right: 20px;
}