.article{
    display: grid;
    column-gap:1px;
    row-gap: 1px;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: repeat(auto-fit), minmax(250px, 1fr) ;
    grid-template-areas: 
    'title title'
    'list image'
    'list image'
    'votes votes'
    'increase decrease';
    background-color: #ff6f69;
    width: 94.4%;
    border: solid #b2b2b2;
    padding: 2rem;
}

.title{
    grid-area: title;
    font-size: 110%;
}

.list{
    grid-area: list;
    background-color: #ffcc5c;
    text-align: left;
    border: solid #96ceb4;
    border-radius: 25px;
    padding: 4%;
    width: 50%

}

.article-image {
    grid-area: image;
    padding: 2px;
    width: auto;
    justify-content: center;
    flex-direction: end;

}
img{
    height: auto
}

.votes{
    grid-area: votes;
    padding: 2px
}

.increase{
    grid-area: increase;
    padding: 2px
}

.decrease{
    grid-area: decrease;
    padding: 2px
}