body{
  margin: 0;
  background-color: #8c837b;
  justify-content: center;}

header{
  align-items: center;
  text-align: center;
  background-color: #f7a26f;
  padding: 2%;
  border: solid 
}

#homepage h2{
  width: 100%
}
