.article-card-list-wrapper {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.box {
    display: grid;
    column-gap: 1px;
    row-gap: 1px;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fit), minmax(250px, 1fr);
    grid-template-areas:
        'a a'
        'b c'
        'b c';
    background-color: #855d69;
    padding: 2%;
    border: solid #edcea9

}

.article-title {
    grid-area: a;
    text-align: center;

}

.article-info {
    grid-area: b;

}

.article-image {
    grid-area: c;
    max-width: 2%;
    max-height: 2%;
}

.box .increase{
    grid-area: c;
    padding: 2px;
}

.box .decrease{
    grid-area: b;
}

.comment-info{
    grid-area: a;
}